.Header {
    height: 3.5rem;
    width: 100vw;
    background-color: rgba(55, 71, 90, 1);
}
.Header span {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    cursor: pointer;
}
.Header a {
    color: #f2f2f2;
    text-decoration: none;
}
.Header span:hover {
    background-color: #ddd;
}
.Header span:hover a {
    color: black;
}